body {
    background-color: #0A0A16;
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#headerText {
    width: 50%;
    color: white;
    margin: auto;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    animation: fadeInAnimation 1s ease;
}

#searchcity {
    display: block;
    margin: 20px auto;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid gray;
    width: 50%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#searchButton {
    display: block;
    margin: 20px auto;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid gray;
    width: 50%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#weatherINFO {
    margin: 10px;
    background-color:brown;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    position: absolute;

    position: absolute;
    top:    75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Optional: Center text within the div */
    max-width: 80%; /* Optional: Limit the maximum width of the centered div */
    padding: 20px; /* Optional: Add padding for better visual appearance */
   

}

#splashtxt { 
    color:black;
}


